asgiref==3.8.1
Django==5.2.1
h11==0.16.0
h2==4.2.0
hpack==4.1.0
Hypercorn==0.17.3
hyperframe==6.1.0
pillow==11.3.0
priority==2.0.0
psycopg2-binary==2.9.10
python-magic==0.4.27
qrcode==8.2
sqlparse==0.5.3
wsproto==1.2.0
